:root {
    --color-background-primary: white;
    --color-background-secondary: var(--blue-1);
    --color-background-tertiary: var(--dun);

    --color-text-primary: var(--oxford-blue);
    --color-text-secondary: var(--blue-2);
    --color-text-tertiary: var(--khaki);

    --font-title: "Montserrat", serif;

    --square-size: 15px;
    --square-gap: 5px;

    --oxford-blue: #161F3Bff;
    --ash-gray: #9FB7BAff;
    --khaki: #87775f;
    --dun: #E4D1B0ff;
    --charcoal: #3F4851ff;

    --blue-1: #bbd1d7;
    --blue-2: #2A4B69;
}

body {
    background: var(--color-background-primary);
    color: var(--color-text-primary);

    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    color: var(--color-text-secondary);
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    width: 80%;
    max-width: 1024px;
    margin: 20px auto;
}

.header {
    grid-column: 2 / 4;
    justify-self: start;
    align-self: center;

    font-family: var(--font-title);
    font-size: 5rem;
    font-weight: 500;
}

.header-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

#today {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

.grid-item {
    border-radius: 8px;
    padding: 10px 20px 15px;
}

.grid-item--bg {
    background: var(--color-background-secondary);
    color: var(--color-text-secondary);
}

.grid-item--bg-2 {
    background: var(--color-background-tertiary);
    font-family: var(--font-title);
    font-weight: 200;
    color: var(--color-text-tertiary);
}

#goals {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr
}

.goal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-title {
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.goal-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.quote {
    background: var(--blue-2);
    color: var(--ash-gray);
}

.footer {
    text-align: center;
}


/* -- CALENDAR --*/
.weeks {
    grid-area: weeks;
}

.days {
    grid-area: days;
}

.squares {
    grid-area: squares;
}

.calendar {
    display: inline-grid;
    grid-template-areas: "empty days" "weeks squares";
    grid-gap: 10px;
}

.days,
.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-columns: repeat(7, var(--square-size));
}

.squares {
    grid-auto-flow: row;
    grid-auto-rows: var(--square-size);
}

.weeks {
    display: grid;
    grid-gap: var(--square-gap);
    grid-auto-columns: var(--square-size);
}

.weeks,
.days {
    font-size: 0.7rem;
    justify-items: center;
    line-height: var(--square-size);
}

.squares>span {
    width: var(--square-size);
    height: var(--square-size);
    background-color: var(--color-background-primary);
    opacity: 0.25;
    border-radius: 4px;
}

.squares>span[data-level="1"] {
    opacity: 1;
}

/* -- CALENDAR --*/