:root {
    --color-background-primary: white;
    --color-background-secondary: black;
    --color-background-tertiary: #808080;

    --color-text-primary: black;
    --color-text-secondary: white;

    --font-title: "Playwrite AU SA", serif;
}

body {
    background: var(--color-background-primary);
    color: var(--color-text-primary);

    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    text-align: center;
    font-size: 5rem;
    font-family: var(--font-title);
}

#today {
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--font-title);
    font-weight: 200;
}

.grid-item {
    border-radius: 8px;
    padding: 10px 20px 15px;
}

.grid-item--bg {
    background: var(--color-background-secondary);
    color: var(--color-text-secondary);
}

.grid-item--bg-2 {
    background: var(--color-background-tertiary);
    color: var(--color-text-secondary);
}

.goal-title {
    font-family: var(--font-title);
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 16px;
    text-align: center;
}

.goal-subtitle {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    width: 155px;
    margin: 20px auto;
}

.week {
    width: 15px;
    height: 15px;
    font-size: 0.8rem;
    text-align: center;
}

.day {
    width: 15px;
    height: 15px;
    background-color: var(--color-background-primary);
    opacity: 0.25;
    border-radius: 4px;
}

.day[data-level="1"] {
    opacity: 1;
}
